*{
	margin: 0;
	padding 0;
}
html{
	height: 100%;
}
body{
	background-color: #25292D;
	color: white;
	height: 100%;
    font-family: 'Roboto', sans-serif;
}
a{
    color: white;
    text-decoration-style: none;
    border-bottom: 2px #1FBE00;
}
